/* Pretendard */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

#app {
  position: relative;
  margin: 0 auto;
  height: 100dvh;
  min-width: 296px;
  min-height: 500px;
  max-width: 600px;
  background-color: var(--white);
  /* padding-top: env(safe-area-inset-top); */
  font-weight: 500;
}

body {
  background-color: var(--white);
}

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  --black: #1c1c1c;
  --white: #fdfdfd;
  --background: #f6f7f6;
  --red: #f47373;
  --blue: #4a88e5;
  --nav-gray: #afafaf;
  --dark-gray: #727272;
  --gray: #ececec;
  --green: #56b984;

  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::webkit-scrollbar {
    display: none;
  }
}

a {
  color: var(--black);
  text-decoration: none;
}
